body {
    background-color: #35654d;
}
.blackjack {
    position: relative;
    display: block;
    margin: auto;
    max-width: 250px;
    top: 80px;
}
.hidden
{
    display: none;
}
.button {
    color: whitesmoke;
    font-size: 25px;
    border-radius: 6px;
    width: 150px;
    height: 60px;
    position: fixed;
    text-align: center;
    font-family: 'DM Serif Text';
    font-weight: bold;
}
.button1 {
    background-color: #972a27;
    bottom: 150px;
}
.button2 {
    background-color: #008080;
    bottom: 100px;
}
.container {
    display: flex;
    margin: auto;
    justify-content: center;
}
.button3 {
    background-color:#972a27;
    bottom: 36px;
}
.button4 {
    background-color: #972a27;
    bottom: 150px; 
}
.button5 {
    background-color:#972a27;
    bottom: 24px;
}
#blackjackWin {
    text-align: center;
    font-family: 'DM Serif Text';
    color: white;
}
